<div class="wrapper">
  <div class="content">
    <h2>Exclusive</h2>

    <nav class="navigation">
      <ul class="navigation-list">
        <li class="link_active"><a href="/">Home</a></li>
        <li class="link"><a href="/">Contact</a></li>
        <li class="link"><a href="/">About</a></li>
        <li class="link"><a href="/">Sign Up</a></li>
      </ul>
    </nav>

    <div class="actions">
      <div class="search">
        <input
          type="text"
          placeholder="What are you looking for?"
          [formControl]="control"
        />
        <img src="assets/icons/search.svg" alt="search" />
      </div>

      <a href="/"><img src="assets/icons/like.svg" alt="like" /></a>
      <a href=""><img src="assets/icons/basket.svg" alt="basket" /></a>
    </div>
  </div>
</div>
