.products {
  padding: 3.75rem 8.4375rem;

  .list {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    flex-wrap: wrap;
  }
}

.label-block {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #db4444;
  font-weight: 600;

  .rectangle {
    width: 1.25rem;
    height: 2.5rem;
    background-color: #db4444;
    border-radius: 4px;
  }
}

@media (max-width: 480px) {
  .products {
    padding: 1rem;

    .list {
      justify-content: space-around;
    }

    h1 {
      text-align: center;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .products {
    padding: 3.75rem 8.4375rem;

    .list {
      justify-content: space-around;
    }

    h1 {
      text-align: center;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .products {
    padding: 3.75rem 8.4375rem;

    .list {
      justify-content: space-around;
    }
  }
}
